*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    /* overflow: hidden; */
}
.landing__body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.landing__body img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.menu-bar{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    color: white;
    font-size: 30px;
}
.logo span{
    color: red;
}
.menu-bar ul{
    list-style: none;
    display: flex;
    z-index: 1000;
}
.menu-bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu-bar ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;


    transition: all 0.3s;
}
.menu-bar ul li a:hover{
    color:red;
}

.dropdown-menu{
    display: none;
}
.menu-bar ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}
.menu-bar ul li:hover .dropdown-menu ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .dropdown-menu ul li{
    width: 150px;
    padding: 10px;
}
.banner1, .banner2, .banner3, .banner4{
    height: 100vh;
    width: 100%;
    position:absolute;
    left: 0;
    
    

 
}
.pic{
    width: 120%;
    position:relative;
    animation:zoom-out 3s linear infinite;
    
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }
}
.text-box{
width: 600px;
position: absolute;
top: 400px;
left: 550px;
color: white;
animation: textup 12s linear infinite;
transform: translateY(100PX);
}

.text-box h1{
    margin-bottom: 40;
}
.text-box p{
    font-size: 20px;
    line-height: 20px;
    margin-top: 80px;
}
.text-box span{
    background: red;
    height: 2px;
    width: 200px;
    position: absolute;
    left: 0;
}
.about{
    top: 800px;
    width: 200px;
}

.banner1{
    animation: slide1 12s linear infinite;
}
.banner2{
    animation: slide2 12s linear infinite;
}

.banner3{
    animation: slide3 12s linear infinite;
}

.banner4{
    animation: slide4 12s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4 {
    
    0%{
        visibility: hidden;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes textup{
    10%{
        transform: translateY(0PX);
    }
    100%{
        transform: translateY(0PX);
    }
}
.text-box1{
    animation-delay: 0s;
}
.text-box2{
    animation-delay: 3s;
}

.text-box3{
  animation-delay: 6s;
}

.text-box4{
    animation-delay: 9s;
}

/* About */

.about__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about__content{
    margin: 4rem 10rem;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.about__content img{
    width: 20rem;
}
.about__writeup{
    width: 100%;
    gap: 2rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




    